{%assign count_range = ''%}
{%if product.options[0] == 'Màu sắc'%}
{% for variant in product.variants %}
{%assign count_range = count_range | append: variant.option1 | append: '_'%}
{% endfor %}
{%endif%}
{%if product.options[1] == 'Màu sắc'%}
{% for variant in product.variants %}
{%assign count_range = count_range | append: variant.option2 | append: '_'%}
{% endfor %}
{%endif%}
{%if product.options[2] == 'Màu sắc'%}
{% for variant in product.variants %}
{%assign count_range = count_range | append: variant.option3 | append: '_'%}
{% endfor %}
{%endif%}
{%assign count_color = count_range | split:'_' | uniq | size %}
{%if count_color > 1%}
<p class="color-size">+ {{count_color}} Màu sắc</p>
{%endif%}