{% if settings.productspg_related_products_3 %}
<div class="list-like">
	<div class="container-1200">
		<div class="related-title">
			<h3 class="related-title__h3">{{settings.productspg_featured_title_3}}</h3>
		</div>
		<div id="owl-related3" class="owl-carousel owl-btn-fix">
			{% for product in collections[settings.productspg_featured_3].products%}
			<div class="item">
				{%include 'product-loop-product'%}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$('#owl-related3').owlCarousel({
		items : 4,
		nav: true,
		//autoplay: true,
		dots: false,
		loop: false,
		navText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
		responsive:{
			0:{
				items:2,
				margin: 0
			},
			768:{
				items:3,
				margin: 10
			},
			1200:{
				items:4,
				margin: 20
			}
		}
	});
})
</script>
{% endif %}


