<div class="search-box">
	<div class="search-bar container">
		<form action="/search">
			<input type="hidden" name="type" value="product" />
			<i class="ico ico-search-big"></i>
			<input type="text" name="q" placeholder="Tìm kiếm..." />
			<i class="ico ico-close-search" ></i>
		</form>
	</div>
</div>