<div class="container">
	<div class="customer-layout" id="layout-page">

		<h1 class="text-center">Tạo tài khoản</h1>
		<div class="clearfix row">
			<div class="col-xs-12 col-sm-offset-3 col-sm-6" id="customer-register">
				<div class="userbox">

					{% form 'create_customer' %}
					<div class="border">
						{{ form.errors | default_errors }}

						<div id="last_name" class="clearfix large_form">
							<label for="last_name">Họ</label>
							<input required type="text" value="" name="customer[last_name]" placeholder="Họ" id="last_name" class="text" size="30" />
						</div>
						<div id="first_name" class="clearfix large_form">
							<label for="first_name">Tên</label>
							<input required type="text" value="" name="customer[first_name]" placeholder="Tên" id="first_name" class="text" size="30" />
						</div>
						<div id="phone" class="clearfix large_form">
							<label for="phone">Phone</label>
							<input pattern="[0-9]{10,12}" required  min="1" type="number" value="" placeholder="Phone" name="customer[phone]" id="phone" class="text" size="30" />
						</div>
						<div id="email" class="clearfix large_form">
							<label for="email">Email</label>
							<input type="email" value="" placeholder="Email" name="customer[email]" id="email" class="text" size="30" />
						</div>

						<div id="password" class="clearfix large_form">
							<label for="password">Mật khẩu</label>
							<input required type="password" value="" placeholder="Mật khẩu" name="customer[password]" id="password" class="password text" size="30" />
						</div>

						<div class="action_bottom">
							<input class="btn" type="submit" value="Đăng kí" />			
						</div>
					</div>
					<div class="req_pass">
						<a class="come-back" href="/account/login">Trở về</a>
					</div>

					{% endform %}
				</div>
			</div>
		</div>
	</div>
</div>