{%layout none%}
{%paginate search.results by settings.pagination_limit%}
{%for product in search.results%}
{%if product.template_suffix != 'farmer'%}
<div class="col-xs-6 col-sm-6 col-md-3">
	{%include 'product-loop-shop'%}
</div>
{%endif%}
{%endfor%}
{%endpaginate%}